@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
background-color: beige
}

.center {
font-family: 'Lobster', cursive; 
text-align: center;
padding: 0px;
margin-top: 60px;
font-size: 30px;
}

div {
width: 470px;
padding: 10px;
border: 5px solid gray;
margin: 0;
text-align: center;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
font-family: Arial;
position: fixed;
top: 0%;
width: 100%;
}

li a {
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #04AA6D;
}            

footer {
color:#ffffff; font-family: Arial; text-align: center; padding: 10px; background-color: #333;
}